*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      height: 100vh;
      display: flex;
      flex-direction: column;

}

:root{
      --main-bg: #1a272e;
      --main-color: #0097e6;
}

.main_menu{
      background-color: var(--main-bg);
}

.navbar{
      color: #fff;
      background-color: var(--main-bg);
      padding: 2rem 0;
}

.navbar a{
      color: #fff;
      font-size: 1.8rem;
}



.navbar li{
      margin-left: 2rem;
}

.navbar a:hover{

}

.navbar-toggler-icon {
      background-color: grey;
}

.fa-snowflake{
      transition: all linear;
      animation:  rot 2s linear infinite;
      color: var(--main-color);
}
@keyframes rot {
      0%{
            transform: rotate(0deg);
      }
      100%{
            transform: rotate(360deg);
      }
}

/* main header */

.main-header_left{
      height: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
}

.main-header_left p{
      font-size: 2rem;
}

.main-header_left h1{
      font-size: 3rem;
}

.main-header_right{
      height: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: flex-start; */
}

.main-header_left .text_clr{
      color: var(--main-color);
}

.main-header_left button{
      border: none;
      padding: 0.8rem 1.8rem;
      font-size: 1.4rem;
      border-radius: 2rem;
      text-transform: uppercase;
      box-shadow: 0 8px 6px -6px #000;
      outline: none;
}

.main-header_left button:hover{
      box-shadow: 0 8px 6px -6px var(--main-color);
      
}

/* footer code */

footer{
      width: 100%;
      background-color: var(--main-color);
      margin-top: auto;
}

footer p{
      margin: 0;
      text-align: center;
      color: #fff;
      line-height: 2rem;
      font-size: 1.4rem;
}

.main-header_right figure img{
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

/* responsive code */

@media (max-width: 768px){
      .main-header_left{
            height: auto;
            margin: 4rem 0;
            font-size: 2rem;
      }

      .main-header_right{
            height: auto;
            margin-top: 3rem;
            margin-bottom: 2rem;
      }
}